{% extends 'base.html' %}

{% block content %}
	<h1>登入</h1>
	<form action='' method='POST' novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=64) }}<br>
			{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=64) }}<br>
			{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.remember() }} {{ form.remember.label }}</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
